body {
	font-family: 'Source Han Sans CN', 'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', 'Microsoft YaHei', 'Helvetica', 'Arial', 'Sans-Serif';
	margin: 60px auto;
	width: 70%;
}
nav ul, footer ul {
	font-family: 'Source Han Sans CN', 'WenQuanYi Zen Hei', 'WenQuanYi Micro Hei', 'Microsoft YaHei', 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
	font-size: 1.2em;
}
nav ul li, footer ul li {
	display: inline;
	background-color: #FFFFFF;
	border: 3px solid #64C9FF;
	border-radius: 14px;
	box-shadow: 3px 3px 8px 0px #64C9FF;
	padding: 4px 10px 4px 10px;
	margin: 0 1ex 0 0;
}
a {
	text-decoration: none;
	color: #009;
	-webkit-transition: all 0.3s ease-out;
}
a:hover {
	color: #39F !important;
	text-shadow:-5px 3px 18px #39F !important;
	-webkit-transition: all 0.3s ease-out;
}
p {
	font-size: 1.2em;
	line-height: 1.1em;
	color: #333;
}
ul li {
	font-size: 1.2em;
	line-height: 1.5em;
	margin:0.5em;
}
ol li {
	font-size: 1.2em;
	line-height: 1.5em;
	margin:0.5em;
}
footer {
	font-size: .8em;
}

ul.posts { 
	margin: 20px auto 40px; 
	font-size: 0.5em;
}

ul.posts li {
	list-style: none;
}


.table1 table {
	width:100%;
	margin:15px 0
}
.table1 th {
	background-color:#1EA4FF;
	background:-o-linear-gradient(90deg, #1EA4FF, #7ecbfe);
	background:-moz-linear-gradient( center top, #1EA4FF 5%, #7ecbfe 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1EA4FF), color-stop(1, #7ecbfe) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1EA4FF', endColorstr='#7ecbfe');
	color:#FFFFFF
}
.table1,.table1 th,.table1 td
{
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border:1px solid #2085fe;
	border-collapse:collapse
}
.table1 td {

	border:1px solid #7ecbfe;
	border-collapse:collapse
}
.table1 tr:nth-child(odd){
	background-color:#b4e0fe;
	background:-o-linear-gradient(90deg, #b4e0fe, #f0f8fe);
	background:-moz-linear-gradient( center top, #b4e0fe 5%, #f0f8fe 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b4e0fe), color-stop(1, #f0f8fe) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4e0fe', endColorstr='#f0f8fe');
}
.table1 tr:nth-child(even){
	background-color:#fdfdfd;
}


.hover1:hover {
	color: #39F !important;
	text-shadow:-5px 3px 18px #39F !important;
	-webkit-transition: all 0.3s ease-out;
}

div.img1 {
	text-align:center;
	padding:20px;
}
div.desc1 {
	text-align:left;
	font-size:1em;
}
